* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.div1 {
    display: flex;
    align-items: center;
    margin-left: 5%;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    margin-top: 2%;
}

ul li {
    display: inline-block;
}

.link {
    margin-left: 20%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #37423b;
    transition: 0.3s;
}

.link:hover {
    color: rgb(118, 187, 118);

}

.button {
    border-radius: 50px;
    background: #5fcf80;
    color: #fff;
    padding: 8px 25px;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    border: none;
    margin-left: 5%;
}

.tittle {
    font-size: 30px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: rgb(56, 209, 56);
}

.section1 {
    background-size: cover;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

.image {
    width: 100%;
    height: 80vh;
    display: inline-block;
}

.text {
    margin: 0;
    color: #fff;
    font-family: "Poppins", sans-serif;
    top: 0;
    position: absolute;
    padding-top: 15%;
    font-size: 170%;
    line-height: 180%;
}

.divmain {
    position: relative;
}

.buttonmain {
    border-radius: 50px;
    color: #fff;
    padding: 1.5% 4%;
    transition: 0.5s;
    font-size: 70%;
    display: inline-block;
    border: none;
    margin-left: 10%;
}

.buttonmain:hover {
    background-color: rgb(56, 209, 56);
}

.imageright1 {
    width: 100%;
    margin-left: 10%;
}

.textleft {
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;

}

.divsection2 {
    display: flex;
    margin-top: 4%;
    margin-bottom: 4%;
}

.textleft li {
    display: flex;
    font-size: 110%;
    margin-top: 2%;
    font-family: "Raleway", sans-serif;
}

.textleft li i {
    font-size: 20px;
    padding-right: 4px;
    color: #5fcf80;
    border-radius: 3%;
}

.textleft>p {
    font-style: italic;
    font-size: 120%;
    margin-top: 3%;
    font-family: "Raleway", sans-serif;
}

.textleft h3 {
    font-weight: 600;
    font-size: 170%;
    font-family: "Raleway", sans-serif;
}






.divnumber {
    display: flex;
    background-color: rgb(231, 219, 219);
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: "Open Sans", sans-serif;
}

.divnumber1 {
    margin-left: 15%;
    font-size: 230%;


}

.divnumber1 h2 {
    color: rgb(56, 209, 56);
    font-size: 170%;
}

.divnumber1 p {
    font-size: 40%;
    text-align: center;
}

.div5 {
    width: 50%;
    background: #5fcf80;
    color: #fff;
    border-radius: 4%;
    font-size: 130%;
    margin-top: 5%;
    padding-left: 3%;
    padding-top: 2%;
    padding-right: 3%;
    padding-bottom: 2%;
    margin-left: 3%;
}

.div5 h3 {
    font-weight: 700;
    font-size: 140%;
    margin-bottom: 30px;
    font-family: "Raleway", sans-serif;
}

.div5 p {
    font-size: 100%;
    margin-bottom: 10%;
    font-family: "Raleway", sans-serif;
}

.button2 {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 3% 7%;
    color: #fff;
    border-radius: 50px;
    transition: all ease-in-out 0.4s;
    border: none;
    font-size: 80%;
    margin-left: 25%;
}

.button2:hover {
    background-color: white;
    color: #5fcf80;
}

.cardleft11 {
    text-align: center;
    background: #fff;
    padding: 1.5% 2%;
    width: 30%;
    border: 1px solid #eef0ef;
}

.cardleft11 i {
    text-align: center;
    font-size: 200%;
    padding: 18px;
    color: #5fcf80;
    margin-bottom: 5%;
    background: #ecf9f0;
    border-radius: 50px;
}

.cardleft11 h4 {
    font-size: 150%;
    font-weight: 700;
    margin: 0 0 5% 0;
    font-family: "Raleway", sans-serif;
}

.cardleft11 p {
    font-size: 100%;
    color: #848484;
    font-family: "Raleway", sans-serif;
}

.cardleft1 {
    display: flex;
    margin-left: 4%;
    margin-top: 12%;
    gap: 2%;
}

.divcard1 {
    display: flex;
}

.divcoltext {
    width: 170%;
    border: 2px solid black;
    display: flex;
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
    transition: 0.3s;
    border: 1px solid #d4d6d5;
}

.divcoltext i {
    font-size: 150%;
    color: rgb(235, 235, 27);
}

.divcoltext h3 {
    padding-left: 4%;
}

.divcoltext h3 a {
    text-decoration: none;
    color: black;
}

.divcoltext:hover {
    border: 2px solid #5fcf80;
}

.divcoltext2 {
    width: 180%;
    border: 2px solid black;
    display: flex;
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
    transition: 0.3s;
    border: 1px solid #d4d6d5;
    margin-left: 15%;

}

.divcoltext2 i {
    font-size: 150%;
    color: rgb(62, 62, 221);
}

.divcoltext2 h3 {
    padding-left: 4%;
}

.divcoltext2 h3 a {
    text-decoration: none;
    color: black;
}

.divcoltext2:hover {
    border: 2px solid #5fcf80;
}

.divcoltext3 {
    width: 170%;
    border: 2px solid black;
    display: flex;
    padding-left: 10%;
    padding-top: 9%;
    padding-bottom: 10%;
    align-items: center;
    transition: 0.3s;
    border: 1px solid #d4d6d5;
    margin-left: 23%;
}

.divcoltext3 i {
    font-size: 150%;
    color: #b2904f;
}

.divcoltext3 h3 {
    padding-left: 4%;
}

.divcoltext3 h3 a {
    text-decoration: none;
    color: black;
}

.divcoltext3:hover {
    border: 2px solid #5fcf80;
}

.divcoltext4 {
    width: 160%;
    border: 2px solid black;
    display: flex;
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
    transition: 0.3s;
    border: 1px solid #d4d6d5;
    margin-left: 35%;
}

.divcoltext4 i {
    font-size: 150%;
    color: #b20969;
}

.divcoltext4 h3 {
    padding-left: 4%;
}

.divcoltext4 h3 a {
    text-decoration: none;
    color: black;
}

.divcoltext4:hover {
    border: 2px solid #5fcf80;
}

.divcoltext5 {
    width: 150%;
    border: 2px solid black;
    display: flex;
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
    transition: 0.3s;
    border: 1px solid #d4d6d5;
    margin-top: 10%;
}

.divcoltext5 i {
    font-size: 120%;
    color: #ffa76e;
}

.divcoltext5 h3 {
    padding-left: 4%;
}

.divcoltext5 h3 a {
    text-decoration: none;
    color: black;
}

.divcoltext5:hover {
    border: 2px solid #5fcf80;
}


.divcoltext6 {
    width: 170%;
    border: 2px solid black;
    display: flex;
    padding-left: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
    transition: 0.3s;
    border: 1px solid #d4d6d5;
    margin-top: 10%;

}

.divcoltext6 i {
    font-size: 150%;
    color: #b20969;
}

.divcoltext6 h3 {
    padding-left: 4%;
}

.divcoltext6 h3 a {
    text-decoration: none;
    color: black;
}

.divcoltext6:hover {
    border: 2px solid #5fcf80;
}

.divcoltext7 {
    width: 147%;
    border: 2px solid black;
    display: flex;
    padding-left: 8%;
    padding-top: 8%;
    padding-bottom: 8%;
    align-items: center;
    transition: 0.3s;
    border: 1px solid #d4d6d5;
    margin-top: 10%;
}

.divcoltext7 i {
    font-size: 150%;
    color: #e80368;
}

.divcoltext7 h3 {
    padding-left: 4%;
}

.divcoltext7 h3 a {
    text-decoration: none;
    color: black;
}

.divcoltext7:hover {
    border: 2px solid #5fcf80;
}

.divcoltext8 {
    width: 170%;
    border: 2px solid black;
    display: flex;
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
    transition: 0.3s;
    border: 1px solid #d4d6d5;
    margin-top: 13%;
}

.divcoltext8 i {
    font-size: 110%;
    color: #11dbcf;
}

.divcoltext8 h3 {
    padding-left: 4%;
}

.divcoltext8 h3 a {
    text-decoration: none;
    color: black;
}

.divcoltext8:hover {
    border: 2px solid #5fcf80;
}

.divcoltext9 {
    width: 206%;
    border: 2px solid black;
    display: flex;
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
    transition: 0.3s;
    border: 1px solid #d4d6d5;
    margin-top: 10%;
}

.divcoltext9 i {
    font-size: 150%;
    color: #ff5828;
}

.divcoltext9 h3 {
    padding-left: 4%;
}

.divcoltext9 h3 a {
    text-decoration: none;
    color: black;
}

.divcoltext9:hover {
    border: 2px solid #5fcf80;
}


.divcoltext10 {
    width: 150%;
    border: 2px solid black;
    display: flex;
    padding-left: 10%;
    padding-top: 9%;
    padding-bottom: 9%;
    align-items: center;
    transition: 0.3s;
    border: 1px solid #d4d6d5;
    margin-top: 8%;
    margin-left: 30%;
}

.divcoltext10 i {
    font-size: 150%;
    color: #e361ff;
}

.divcoltext10 h3 {
    padding-left: 4%;
}

.divcoltext10 h3 a {
    text-decoration: none;
    color: black;
}

.divcoltext10:hover {
    border: 2px solid #5fcf80;
}

.divcoltext11 {
    width: 205%;
    border: 2px solid black;
    display: flex;
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
    transition: 0.3s;
    border: 1px solid #d4d6d5;
    margin-top: 15%;
    margin-left: 28%;
}

.divcoltext11 i {
    font-size: 150%;
    color: #4233ff;
}

.divcoltext11 h3 {
    padding-left: 4%;
}

.divcoltext11 h3 a {
    text-decoration: none;
    color: black;
}

.divcoltext11:hover {
    border: 2px solid #5fcf80;
}

.divcoltext12 {
    width: 135%;
    border: 2px solid black;
    display: flex;
    padding-left: 7%;
    padding-top: 8%;
    padding-bottom: 5%;
    align-items: center;
    transition: 0.3s;
    border: 1px solid #d4d6d5;
    margin-top: 10%;
    margin-left: 43%;
    padding-right: 2%;
}

.divcoltext12 i {
    font-size: 150%;
    color: #29cc61;
}

.divcoltext12 h3 {
    padding-left: 4%;
}

.divcoltext12 h3 a {
    text-decoration: none;
    color: black;
}

.divcoltext12:hover {
    border: 2px solid #5fcf80;
}

.divcarditem {
    display: flex;
    flex-wrap: wrap;
    gap: 12%;
    margin-left: 3%;
    font-size: 120%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.imagecourse {
    width: 100%;
}

.divcoursetext1 h4 {
    margin-top: 2%;
    background-color: #5fcf80;
    display: inline-block;
    font-size: 120%;
    color: white;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    font-family: "Raleway", sans-serif;
}

.divcoursetext1 p {
    display: inline-block;
    padding-left: 40%;
    font-size: 10%;
    color: #37423b;
    font-family: "Raleway", sans-serif;
}

.divcoursefooter {
    font-size: 130%;
}

.divcoursetext h3 a {
    text-decoration: none;
    padding-top: 10%;
    color: black;
}

.divcoursetext h3 a:hover {
    color: #5fcf80;
}

.divcoursetext h3 {
    font-size: 150%;
    margin-top: 3%;
    font-family: "Raleway", sans-serif;
}

.divcoursetext p {
    margin-top: 3%;
    font-size: 120%;
    font-family: "Raleway", sans-serif;
    color: #565957;
}

.footerimg {
    width: 10%;
    border-radius: 60px;
    display: inline-block;
}

.divimagecourse1 span {
    display: inline-block;
    margin-left: 3%;
    margin-top: 2%;
    font-size: 80%;
}

.divicon {
    display: flex;
    margin-top: 2%;
    margin-left: 50%;

}

.divimagecourse1 {
    display: flex;
    margin-top: 3%
}

.div4item p {
    font-size: 200%;
    font-family: "Poppins", sans-serif;
    color: #37423b;
    margin-top: 1.5%;
}

.div4item {
    color: #565957;
    font-family: "Poppins", sans-serif;
}

.divcardnumber1item {
    width: 100%;
    border: 1px solid #eef0ef;
    display: inline-block;
    margin-top: 3%;

}

.section4 {
    margin-left: 6%;
    margin-top: 7%;
    margin-right: 6%;
}

.divcoursetext {
    margin-left: 3%;
    margin-bottom: 3%;
}

.divicon i {
    font-size: 80%;
}

.div4item hr {
    width: 10%;
}

.divcardnumber {
    display: flex;
    gap: 1.5%;
}

.contactimg {
    width: 100%;

}

.divcontact {
    margin-top: 10%;
}

.contactimage {
    width: 85%;
    border: 1px solid #eef0ef;
    text-align: center;
    padding-bottom: 3%;
}

.contacttext h4 {
    padding-top: 5%;
    font-size: 150%;
    font-family: "Raleway", sans-serif;
}

.contacttext span {
    padding-top: 5%;
    font-size: 100%;
    font-style: italic;
}

.contacttext p {
    padding-top: 4%;
    font-size: 100%;
    font-style: italic;
    color: #aaaaaa;
}

.contacticon {
    font-size: 130%;
    padding-top: 3%;
    transition: 0.3s;
    margin-right: 10%;
    padding-bottom: 3%;
}

.contacticon a {
    color: #68796e;
}
.contacticon a:hover {
    color: #5fcf80;
}

.divcontact1 {
    display: flex;
    gap: 0.2%;
}

.section5 {
    margin-left: 5%;
}
.divfooter{
    color: #37423b;
    font-size: 150%;
    background: #eef0ef;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
}
.divfooteritem {
    display: flex;
}
.footerlink {
    margin-left: 5%;
}
.footerlink li a {
    text-decoration: none;
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    font-size: 70%;
    padding-top: 3%;
}
.footerlink li i {
    font-size: 70%;
    color: #777777;
}
.footerservice {
    margin-left: 5%;
}
.footerservice a:hover {
    color: #5fcf80;
}
.footerservice li a {
    text-decoration: none;
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    font-size: 70%;
    padding-top: 3%;
}
.footerlink a:hover {
    color: #5fcf80;
}
.footerservice li i {
    font-size: 70%;
    color: #777777;
}
.footerright {
    margin-left: 10%;
}
.footerright input{
    border-radius: 50px;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 2%;
}
